.mobileMenu {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: var(--light-pestal-purple);
    z-index: 9999;
}