.slide {
    width: 100% !important;
    height: 100vh !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Slider1{
    background-image: url(../public/home/slider.webp);
}

.Slider2{
    background-image: url(../public/home/slider2.webp);
}

.Slider3{
    background-image: url(../public/home/slider3.webp);
}

.heroTitle{
    color: var(--pestal-purple) !important;
    line-height: 1.4;
}

.semibold{
    font-weight: 500 !important;
    font-size: 3rem !important;
    letter-spacing: 1px;
}

.bold{
    font-weight: 700 !important;
    font-size: 7rem !important;
    letter-spacing: 1px;
}
.ProductBanner{
    height: 80vh;
    width: 100%;
    background-image: url(../public/home/Product-Banner.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ProductBannerTitle{
    font-size: 4rem !important;
    color: var(--pestal-purple) !important;
    font-weight: 700;
}

.ProductBannerText{
    font-size: 1.5rem !important;
    font-weight: 600;
    color: var(--pestal-purple) !important;
}

.price{
    font-size: 1.25rem !important;
    font-weight: 600 !important;
}

.NewProductBg{
    width: 100%;
    height: auto;
    background-image: url(../public/home/bg.png);
    background-repeat: no-repeat;
    background-position: 50%;
}

@media only screen and (max-width: 600px) {
    .Slider1{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../public/home/slider.webp);
        background-position: 77% 0%;
    }
    
    .Slider2{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(../public/home/slider2.webp);
        background-position: 77% 0%;
    }
    
    .Slider3{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(../public/home/slider3.webp);
        background-position: 77% 0%;
    }

    .heroTitle{
        line-height: 1.2;
    }
    
    .semibold{
        font-size: 1.3rem !important;
    }
    
    .bold{
        font-size: 3rem !important;
    }

    .ProductBannerTitle{
        font-size: 3rem !important;
    }

}

@media only screen and (min-width: 601px) and (max-width: 799px){
    .Slider1{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../public/home/slider.webp);
        background-position: 75% 0%;
    }
    
    .Slider2{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(../public/home/slider2.webp);
        background-position: 75% 0%;
    }
    
    .Slider3{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(../public/home/slider3.webp);
        background-position: 75% 0%;
    }

    .heroTitle{
        line-height: 0.8;
    }
    
    .semibold{
        font-size: 1.8rem !important;
    }
    
    .bold{
        font-size: 4rem !important;
    }
}


@media only screen and (min-width: 800px) and (max-width: 992px) {
    .Slider1{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../public/home/slider.webp);
        background-position: 77% 0%;
    }
    
    .Slider2{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(../public/home/slider2.webp);
        background-position: 77% 0%;
    }
    
    .Slider3{
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(../public/home/slider3.webp);
        background-position: 77% 0%;
    }

    .heroTitle{
        line-height: 1;
    }

    .semibold{
        font-size: 2rem !important;
    }
    
    .bold{
        font-size: 5rem !important;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
    .Slider1{
        background-image:  url(../public/home/slider.webp);
        background-position: 70% 0%;
    }
    
    .Slider2{
        background-image: url(../public/home/slider2.webp);
        background-position: 70% 0%;
    }
    
    .Slider3{
        background-image: url(../public/home/slider3.webp);
        background-position: 70% 0%;
    }


    .heroTitle{
        line-height: 1;
    }

    .semibold{
        font-size: 2rem !important;
    }
    
    .bold{
        font-size: 5rem !important;
    }
}